body{
  padding: 0;
  margin:0;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(82, 82, 82);
}
/* color pallete */
.primary{
    color: rgb(34, 201, 243);
}
.default{
    color: rgb(110, 110, 110);
}
.secondary{
    color: rgb(248, 245, 51);
}
.accent{
    color: rgb(249, 62, 149);
}
.warn{
    color: rgb(243, 76, 34);
}
.primary-bg{
    background-color: rgb(34, 201, 243);
}
.default-bg{
    background-color: rgb(110, 110, 110);
}
.secondary-bg{
    background-color: rgb(248, 245, 51);
}
.accent-bg{
    background-color: rgb(249, 62, 149);
}
.warn-bg{
    background-color: rgb(243, 76, 34);
}
/* color pallete */
.header {
  min-height: 56px;
  padding: 4px 10px;
  font-size: 14px;
  -webkit-box-shadow: 0px 9px 8px -11px rgba(0,0,0,0.47);
  -moz-box-shadow: 0px 9px 8px -11px rgba(0,0,0,0.47);
  box-shadow: 0px 9px 8px -11px rgba(0,0,0,0.47);
}
.fl{
    display: flex;
}
.h-cent{
    justify-content: center;
}
.start{
    justify-content: flex-start;
}
.end{
    justify-content: flex-end;
}
.space{
    justify-content: space-between;
}
.fd-column{
  flex-direction: column;
}
.v-cent{
  align-items: center;
}
.back, .home{
  background-color: #fff;
  padding: 4px 10px;
  border-radius: 3px;
  border: 1px solid rgb(189, 188, 188);
  color: rgb(158, 158, 158);
  cursor: pointer;
}
.back:hover, .home:hover{
    border: 1px solid rgb(141, 141, 141);
  color: rgb(80, 79, 79);
}

.player {
  min-height: 70px;
  width: 100%;
}

.card-shadow{
  -webkit-box-shadow: 0px 0px 16px -11px rgba(77,75,77,1);
-moz-box-shadow: 0px 0px 16px -11px rgba(77,75,77,1);
box-shadow: 0px 0px 16px -11px rgba(77,75,77,1);
}

.player-action-btn {
  padding: 8px 25px;
  border-radius: 3px;
  border: 1x solid rgb(214, 214, 214);
}

.disabled{
  color: #d6d8da!important;
}
.fixed-bottom{
  position: fixed;
  bottom: 0;
  width: 100%
}

.seekBar-container{
  padding: 0px;
  width: 100%;
}

.seekBar-outer{
  background: transparent;
  padding: 0 10px;
}
.seekBar-track{
  border: none!important;
  height: 1.5px;
  width: 100%;
}